<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <title>DusInfernu</title>
</head>
<body class="text-bg-dark">
    <header>
        <div class="d-flex justify-content-between align-items-center border-bottom border-danger p-2">
            <h1 class="text-danger">DusInfernu</h1>
            <span class="fs-6 text-danger">A biblioteca de metal mais cabulosa da internet!</span>
        </div>
        <nav class="d-flex justify-content-around align-items-center border-bottom border-danger p-1">
            <p class="m-0">menu</p>
        </nav>
    </header>

</body>
</html>